* {
  box-sizing: border-box;
}

button {
  background-color: none;
  outline: none;
  border: 0;
  border-radius: 0.5rem;
  min-width: 10rem;
  padding: 8px 0;
  border: 2px solid #333;

  &:hover {
    cursor: pointer;
  }
}

header {
  display: flex;
  justify-content: center;
}

.App {
  width: 80vw;
  min-height: 100vh;
  padding: 2rem 0;
  background-color: #ffffff33;
}

.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__boards {
    display: flex;
  }
}